body {
  padding-top: 40px;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

.container > div {
  width: 330px;
  margin: 0 auto;
}

button.disabled {
  color: red;
}

img {
  margin-left: 5px;
  margin-top: 5px;
}
